/* Add a background color to the top navigation */
.topnav {
  overflow: hidden;
  background-image: -webkit-linear-gradient(to bottom right, #6930c3, 0%, #56cfe1 80%);
	background-image: -moz-linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
	background-image: linear-gradient(to bottom right, #6930c3 0%, #56cfe1 100%);
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(167, 189, 238);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }